@import "../base/base"

@import "../componets/menu"
@import "../componets/box"
@import "../componets/date"
@import "../componets/list"
@import "../componets/selectField"
@import "../componets/inputs"
@import "../componets/buttons"
@import "../componets/hamburger"

@import "../layout/hello"
@import "../layout/calendar"
@import "../layout/addElement"
@import "../layout/fridge"
@import "../layout/chooseElements"
@import "../layout/lastConfig"
@import "../layout/generateElemnsts"
@import "../layout/addProducts"
@import "../layout/addElementFridge"
@import "../layout/errorPage"
@import "../layout/shopping"
@import "../layout/settings"
@import "../layout/authentication"


html
    @include mq(large)
        font-size: 54%
    @include mq(medium)
        font-size: 50%
    @include mq(small)
        font-size: 45%