.date
    margin: 0 auto
    width: min-content
    font-size: 3rem
    font-weight: 200
    display: flex
    gap: .5em
    align-items: center
    margin-bottom: .6em
    &__arrow
        background: $lightGreen
        width: 2.3rem
        height: 2.3rem
        transition: filter .2s
        &--right
            clip-path: polygon(0 0, 0% 100%, 100% 50%)
        &--left
            clip-path: polygon(0 50%, 100% 100%, 100% 0)
        &:hover
            filter: brightness(1.3)
            cursor: pointer

.bottom-panel
    display: flex
    padding: 0 2em
    align-items: baseline
    &__info
        margin-left: auto
        font-size: 2.2rem
        font-weight: 200
        font-style: italic
    &__btn:hover a
        color: white
    &__btn
        width: 32rem
.calendar
    &__link
        margin: 0 auto
        width: min-content
        display: block
        margin-top: 3em
    &__add-btn
        width: 45rem
        height: 6rem
        font-size: 3rem
        margin: 0 auto
        background: $lightGreen
        color: white
        border-radius: 2em
        &:hover
            color: black 
            background: white

    