.fridge
    &__switch
        background: white
        width: 45rem
        border-radius: .3em
        margin: 0 auto
        margin-bottom: 3em
        
        &--btn
            border: none
            display: inline-block
            width: 15rem
            height: 4.5rem
            font-size: 2rem
            line-height: 4.5rem
            text-align: center
        .active
            background: rgb(105, 102, 102)
            display: inline-block
            color: white 
            border-radius: .3em