.fridge
    &__switch
        background: white
        width: 45rem
        border-radius: .3em
        margin: 0 auto
        margin-bottom: 1em
        @include mq('mobile')
            width: 99%
        
        &--btn
            border: none
            display: inline-block
            width: 15rem
            height: 4.5rem
            font-size: 2rem
            line-height: 4.5rem
            text-align: center
            @include mq('mobile')
                width: 33%
                font-size: 1.7rem
        .active
            background: rgb(105, 102, 102)
            display: inline-block
            color: white 
            border-radius: .3em

    &__filter
        margin-left: 10rem
        margin-bottom: 1em
        @include mq("small")
            margin-left: 0
        img
            height: 5rem
            transform: rotate(90deg)
            margin: 0 1em
            padding: .3em .5em
            border-radius: .6rem
            &:hover
                background: rgb(223, 216, 216)
                cursor: pointer
        fieldset
            font-size: 2rem
            display: flex
            align-items: center
        &--h4
            font-size: 2.7rem
            font-weight: 500
            margin-bottom: .4em
        &--radio       
            border: 2px solid black
            width: 2.5rem
            padding: 0
            height: 2.5rem
            margin: 0 .8em
            margin-right: .3em
            &:checked
                background: rgb(44, 44, 42)
            &:focus
                border: 2px solid black
            &:hover
                cursor: pointer

.planned-el-header
    order: 1
    text-align: center
.planned-element
    order: 2
.planned-element > *
    position: relative
    overflow: hidden
    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: #a8a8a896