.shopping
    &__box
        padding-top: 3em
    &__add-btn
        width: 25rem
        height: 5rem
        font-size: 2.6rem
        background: $lightGreen
        color: white
        border-radius: 2em
        margin: 0 auto
        display: block
        margin-top: 1em
        &:hover
            color: black 
            background: white
    &__print-list
        border: none
        width: auto
        &:hover
            background: transparent
            color: black
            text-decoration: underline
    &__input
        display: block
        margin: 0 auto
    &__h2
        font-size: 2.4rem
        margin-top: 1em
        // display: inline-block
        text-align: center
    &__comment
        text-align: center
        color: $red