@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 2em;
}

.backLink {
  border: 2px solid black;
  font-size: 2.3rem;
  line-height: 2.3rem;
  padding: 0.25em 2em;
  border-radius: 0.3em;
  transition: background 0.2s, color 0.2s;
}
.backLink:hover {
  background: black;
  color: white;
}

.loading-paragraph {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: #5CAC64;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  font-size: 2.5rem;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.menu-container {
  display: flex;
  align-items: baseline;
  height: 8vh;
}

.menu {
  display: flex;
  width: 80rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2em;
  margin-left: auto;
}
@media (max-width: 43em) {
  .menu {
    display: none;
  }
}
@media (max-width: 58em) {
  .menu {
    width: 70%;
  }
}
.menu li {
  flex: 1;
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.7rem;
  width: min-content;
}
@media (max-width: 58em) {
  .menu li {
    font-size: 2rem;
  }
}
.menu .active {
  flex: 1.9;
  font-size: 3.6rem;
  font-weight: semiBold;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 58em) {
  .menu .active {
    font-size: 3rem;
  }
}
.menu .active::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 0.9rem;
  border-radius: 0.4rem;
  background: #5CAC64;
}
@media (max-width: 58em) {
  .menu .active::after {
    width: 20rem;
    height: 0.7rem;
  }
}
.menu .active:hover {
  font-size: 3.6rem;
}
@media (max-width: 58em) {
  .menu .active:hover {
    font-size: 3rem;
  }
}
.menu a {
  transition: font-size 0.2s, background 0.2s;
  border-radius: 0.5rem;
}
.menu a:hover {
  font-size: 2.7rem;
  color: #5CAC64;
}

.logo {
  font-size: 3.3rem;
  font-weight: 300;
  padding-left: 2em;
  padding-top: 1.1em;
}
@media (max-width: 25em) {
  .logo {
    font-size: 2.6rem;
  }
}

@media (max-width: 43em) {
  .hamburger_menu {
    display: block;
    position: absolute;
    background: white;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30% 0;
  }
  .hamburger_menu li {
    font-size: 3.6rem;
    font-weight: 300;
  }
  .hamburger_menu li:hover {
    font-size: 4rem;
  }
  .hamburger_menu .active {
    font-size: 4.5rem;
    font-weight: 400;
  }
  .hamburger_menu .active::after {
    width: 30rem;
    height: 1.2rem;
  }
  .hamburger_menu .active:hover {
    font-size: 4.5rem;
  }
  .hamburger_menu a:hover {
    font-size: 4.5rem;
  }
}
@media (max-width: 25em) {
  .hamburger_menu {
    padding: 50% 0;
  }
}

.box {
  background: #ECEBE6;
  width: 100rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  min-height: 12rem;
  padding: 2em;
  margin-top: 7rem;
}
@media (max-width: 58em) {
  .box {
    width: 90%;
  }
}
@media (max-width: 43em) {
  .box {
    width: 90%;
    height: auto;
  }
}

.date {
  margin: 0 auto;
  width: 30rem;
  font-size: 3rem;
  font-weight: 200;
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 0.6em;
  justify-content: center;
}
.date__arrow {
  background: #5CAC64;
  width: 2.3rem;
  height: 2.3rem;
  transition: filter 0.2s;
}
.date__arrow--right {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.date__arrow--left {
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.date__arrow:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.list {
  height: 40rem;
  width: 75rem;
  margin: 0 auto;
  display: flex;
  gap: 0.8em;
  flex-direction: column;
  overflow: auto;
}
@media (max-width: 58em) {
  .list {
    width: 100%;
  }
}
.list li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
}
.list li > * {
  height: 100%;
  border-radius: 0.6em;
}
.list__del-btn {
  width: 3rem;
  color: transparent;
  user-select: none;
  margin-right: 0.5em;
  background: #d8311b;
  border: none;
}
.list__del-btn:hover {
  color: white;
  width: 8rem;
  background: #f34029;
}
.list__content {
  flex: 4;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  font-size: 2.2rem;
  padding-left: 0.5em;
}
@media (max-width: 43em) {
  .list__content {
    font-size: 1.8rem;
    flex: 5;
  }
}
@media (max-width: 25em) {
  .list__content {
    font-size: 1.4rem;
  }
}
.list__content--data {
  margin-left: auto;
  font-weight: 200;
  font-style: italic;
}
.list__content--info {
  position: static !important;
}
.list__content--info span {
  top: 10rem !important;
}
.list__content--input {
  border: 2px solid black;
  width: 2.5rem;
  padding: 0;
  height: 2.5rem;
  display: block;
  margin-right: 0.7em;
}
.list__content--input:checked {
  background: rgb(44, 44, 42);
}
.list__content--input:focus {
  border: 2px solid black;
}
.list__content--input:hover {
  cursor: pointer;
}
.list__amount {
  margin-left: 1em;
  flex: 1;
  background: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 5.5rem;
}
@media (max-width: 43em) {
  .list__amount {
    font-size: 1.8rem;
  }
}
@media (max-width: 25em) {
  .list__amount {
    font-size: 1.4rem;
    margin-left: 0.4em;
  }
}

.options::-webkit-scrollbar {
  width: 7px;
}

.options::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2.5rem;
}

.options::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2.5rem;
}

.options::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

.options li {
  height: 4.2rem;
  padding: 0 1.3rem;
  font-size: 2.1rem;
}

.options li:hover, li.selected {
  border-radius: 5px;
  background: #f2f2f2;
}

.content .options {
  margin-top: 10px;
  max-height: 20rem;
  overflow-y: auto;
  padding-right: 7px;
}

.addElement__form--wrapper {
  width: 55rem;
}
.addElement__form--wrapper .search {
  position: relative;
}
.addElement__form--wrapper .search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.addElement__form--wrapper .search input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 2rem 0 1rem;
  border: 1px solid #B3B3B3;
}
.addElement__form--wrapper .search input:focus {
  padding-left: 2rem;
  border: 2px solid #4285f4;
}
.addElement__form--wrapper .search input::placeholder {
  color: #bfbfbf;
}
.addElement__form--wrapper .active .select-btn i {
  transform: rotate(-180deg);
}
.addElement__form--wrapper .select-btn i {
  font-size: 31px;
  transition: transform 0.3s linear;
}
.addElement__form--wrapper .select-btn {
  height: 5.5rem;
  padding: 0 20px;
  font-size: 2.1rem;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
}
.addElement__form--wrapper .select-btn, .addElement__form--wrapper li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.addElement__form--wrapper .content {
  display: none;
  padding: 2rem;
  margin-top: 1rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

input {
  border: none;
  padding: 0.7em;
  border-radius: 0.4em;
  font-size: 2rem;
  transition: border 0.1s;
}
input:focus {
  border: none;
  border-bottom: 4px solid #5CAC64;
  outline: none;
}

.checkbox {
  width: 1.9rem;
  height: 1.9rem;
  border: 2px solid black;
  position: relative;
  display: inline-block;
}
.checkbox:checked {
  background: #5CAC64;
}
.checkbox:focus {
  border: 2px solid black;
}
.checkbox:hover {
  cursor: pointer;
}

button {
  width: 15.7rem;
  height: 4.4rem;
  background: transparent;
  border: 3px solid #5CAC64;
  border-radius: 0.8rem;
  font-size: 2.1rem;
  transition: 0.2s;
}
button:hover {
  background: #5CAC64;
  color: white;
}

.info-btn {
  border-color: #33B7D9;
  width: 4rem;
  height: 3.6rem;
  margin: 0 0.3em;
  background: #33B7D9;
  color: white;
  position: relative;
  padding: 0;
}
@media (max-width: 43em) {
  .info-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0;
  }
}
.info-btn:hover {
  background: white;
  color: black;
}
.info-btn:hover span {
  display: block;
}
.info-btn span {
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  width: 35rem;
  position: absolute;
  display: none;
}

.hamburger {
  position: absolute;
  top: 1.4em;
  right: 2em;
  display: none;
}
.hamburger li {
  list-style-type: none;
  width: 13rem;
  background: rgb(107, 107, 107);
  height: 0.9rem;
  margin: 0.6em 0.2em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
.hamburger li:nth-child(2) {
  width: 9rem;
  margin-left: auto;
}
.hamburger li:nth-child(3) {
  width: 6rem;
  margin-left: auto;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover li {
  background: #5CAC64;
}
@media (max-width: 43em) {
  .hamburger {
    display: block;
    z-index: 2;
  }
}

.hamburger-active li:nth-child(1) {
  position: absolute;
  top: 1.4em;
  right: 2em;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
  width: 8rem;
}
.hamburger-active li:nth-child(2) {
  display: none;
}
.hamburger-active li:nth-child(3) {
  position: absolute;
  top: 1.4em;
  right: 2em;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  width: 8rem;
}

.hello {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
}
@media (max-width: 58em) {
  .hello {
    width: 90%;
  }
}
@media (max-width: 43em) {
  .hello {
    width: 95%;
  }
}
.hello h1 {
  font-size: 10rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}
@media (max-width: 43em) {
  .hello h1 {
    font-size: 8rem;
  }
}
.hello__box {
  position: relative;
  width: 100%;
}
.hello__box h4 {
  font-size: 3.3rem;
  position: absolute;
  width: 100%;
  font-weight: 300;
}
@media (max-width: 43em) {
  .hello__box h4 {
    font-size: 2.5rem;
  }
}
.hello__box b {
  font-weight: 500;
}
.hello__box--text1 {
  background: white;
  z-index: 1;
  animation: fadeOut 1s 3s forwards;
}
.hello__box--text2 {
  opacity: 0;
  animation: fadeIn 1s 3.3s forwards;
}
.hello__btn {
  font-size: 3rem;
  margin-top: 4em;
  width: 40rem;
  height: 6rem;
  background: #5CAC64;
  color: white;
  opacity: 0;
  animation: fadeIn 0.8s 4.2s forwards;
}
@media (max-width: 43em) {
  .hello__btn {
    font-size: 2.5rem;
    width: 30rem;
    height: 5rem;
  }
}
.hello__btn:hover {
  background: white;
  color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  98% {
    opacity: 0%;
    transform: translateY(-9rem);
  }
  100% {
    display: none;
    opacity: 0%;
    transform: translateY(-9rem);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.bottom-panel {
  display: flex;
  padding: 0 2em;
  align-items: baseline;
  margin-top: 1.5em;
}
@media (max-width: 43em) {
  .bottom-panel {
    padding: 0 0.2em;
  }
}
.bottom-panel__info {
  margin-left: auto;
  font-size: 2.2rem;
  font-weight: 200;
  font-style: italic;
}
@media (max-width: 43em) {
  .bottom-panel__info {
    font-size: 2rem;
  }
}
@media (max-width: 25em) {
  .bottom-panel__info {
    font-size: 1.5rem;
  }
}
.bottom-panel__btn:hover a {
  color: white;
}
.bottom-panel__btn {
  width: 32rem;
}
@media (max-width: 43em) {
  .bottom-panel__btn {
    width: 10em;
  }
}
@media (max-width: 25em) {
  .bottom-panel__btn {
    width: 7em;
  }
}

.calendar__link {
  margin: 0 auto;
  width: min-content;
  display: block;
  margin-top: 3em;
}
.calendar__add-btn {
  width: 45rem;
  height: 6rem;
  font-size: 3rem;
  margin: 0 auto;
  background: #5CAC64;
  color: white;
  border-radius: 2em;
}
.calendar__add-btn:hover {
  color: black;
  background: white;
}

.addElement__box {
  margin-top: 2em;
  width: 80rem;
  padding-bottom: 4em;
}
@media (max-width: 43em) {
  .addElement__box {
    width: 80%;
  }
}
@media (max-width: 25em) {
  .addElement__box {
    width: 90%;
  }
}

.date-margin {
  margin-top: 6em;
}

.addElement__switch {
  width: 70rem;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
}
@media (max-width: 43em) {
  .addElement__switch {
    width: 100%;
  }
}
.addElement__switch--btn {
  border: none;
  background: white;
  border-radius: 0.3em;
  display: inline-block;
  width: 15rem;
  height: 4.5rem;
  font-size: 2rem;
  line-height: 4.5rem;
  text-align: center;
}
@media (max-width: 43em) {
  .addElement__switch--btn {
    font-size: 1.7rem;
    width: 14rem;
    height: 4rem;
    line-height: 4rem;
  }
}
@media (max-width: 25em) {
  .addElement__switch--btn {
    width: 11rem;
  }
}
.addElement__switch--calories {
  display: inline-block;
  margin-left: auto;
  font-size: 2rem;
}
@media (max-width: 43em) {
  .addElement__switch--calories {
    font-size: 1.7rem;
  }
}
.addElement__switch .active {
  background: rgb(105, 102, 102);
  display: inline-block;
  color: white;
  border-radius: 0.3em;
}
.addElement__form {
  margin: 0 auto;
  margin-top: 1.8em;
  width: 63rem;
}
@media (max-width: 43em) {
  .addElement__form {
    width: 95%;
  }
}
.addElement__form h2 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 0.2em;
}
.addElement__form--name {
  width: 100%;
}
.addElement__form .dish-own-name {
  grid-column: span 1;
  margin-right: 1em;
}
@media (max-width: 25em) {
  .addElement__form .dish-own-name {
    grid-column: span 3;
  }
}
.addElement__form .acive-own-panel {
  grid-template-columns: 50% 25% 25%;
}
.addElement__form--top-panel {
  display: grid;
  gap: 0.6em;
  grid-template-columns: 50% 25% 10%;
  padding-right: 10%;
  align-items: center;
  margin-bottom: 0.5em;
}
@media (max-width: 43em) {
  .addElement__form--top-panel {
    margin: 0;
    width: 75vw;
  }
}
.addElement__form--top-panel h6 {
  font-size: 1.8rem;
}
.addElement__form--top-panel .checkbox-wrapper {
  position: relative;
  margin-left: 1em;
  display: grid;
  justify-content: center;
}
.addElement__form--top-panel .checkbox-wrapper:hover span {
  display: block;
}
@media (max-width: 25em) {
  .addElement__form--top-panel .checkbox-wrapper:hover span {
    display: none;
  }
}
.addElement__form--top-panel .checkbox-wrapper span {
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: black;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  width: 35rem;
  position: absolute;
  display: none;
  text-align: center;
  font-size: 2rem;
  border: 2px solid black;
}
@media (max-width: 25em) {
  .addElement__form--top-panel .checkbox-wrapper span {
    display: none;
  }
}
.addElement__form--wrapper {
  width: 42rem;
  grid-column: span 2;
}
@media (max-width: 43em) {
  .addElement__form--wrapper {
    width: 80%;
  }
}
@media (max-width: 25em) {
  .addElement__form--wrapper {
    width: 60vw;
  }
}
.addElement__form--add-products {
  height: 5.5rem;
  font-size: 2rem;
  grid-row: 2/3;
  grid-column: 1/2;
}
.addElement__form--products-list {
  color: rgb(83, 83, 83);
  font-weight: 300;
}
.addElement__form--bottom-panel {
  display: flex;
  margin: 1.5em 0;
  gap: 2em;
}
@media (max-width: 43em) {
  .addElement__form--bottom-panel {
    flex-direction: column;
  }
}
.addElement__form--name {
  grid-column: span 2;
}
.addElement__form--amount {
  width: 20rem !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  height: 6rem;
}
@media (max-width: 43em) {
  .addElement__form--amount {
    width: 30rem !important;
  }
}
@media (max-width: 25em) {
  .addElement__form--amount {
    width: 55vw !important;
  }
}
.addElement__form--unit {
  height: 5.1rem;
  width: 7rem;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border: 2px solid white;
  height: 6rem;
  font-size: 1.6rem;
}
.addElement__form--calories {
  height: 6rem;
}
@media (max-width: 43em) {
  .addElement__form--calories {
    width: 35rem;
  }
}
.addElement__form li {
  text-decoration: none;
  list-style-type: none;
}
.addElement__form h4 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.addElement__form--btn {
  margin-top: 1.6em;
  font-size: 3rem;
  width: 20rem;
  height: 5rem;
  background: #5CAC64;
  color: white;
}
.addElement__form--btn:hover {
  background: white;
  color: black;
}
.addElement__backLink {
  margin-left: 27rem;
}
@media (max-width: 43em) {
  .addElement__backLink {
    margin-left: 0.4em;
  }
}

.fridge__switch {
  background: white;
  width: 45rem;
  border-radius: 0.3em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.fridge__switch--btn {
  border: none;
  display: inline-block;
  width: 15rem;
  height: 4.5rem;
  font-size: 2rem;
  line-height: 4.5rem;
  text-align: center;
}
.fridge__switch .active {
  background: rgb(105, 102, 102);
  display: inline-block;
  color: white;
  border-radius: 0.3em;
}
.fridge__filter {
  margin-left: 10rem;
  margin-bottom: 1em;
}
.fridge__filter img {
  height: 5rem;
  transform: rotate(90deg);
  margin: 0 1em;
  padding: 0.3em 0.5em;
  border-radius: 0.6rem;
}
.fridge__filter img:hover {
  background: rgb(223, 216, 216);
  cursor: pointer;
}
.fridge__filter fieldset {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.fridge__filter--h4 {
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 0.4em;
}
.fridge__filter--radio {
  border: 2px solid black;
  width: 2.5rem;
  padding: 0;
  height: 2.5rem;
  margin: 0 0.8em;
  margin-right: 0.3em;
}
.fridge__filter--radio:checked {
  background: rgb(44, 44, 42);
}
.fridge__filter--radio:focus {
  border: 2px solid black;
}
.fridge__filter--radio:hover {
  cursor: pointer;
}

.choose-el__h2, .choose-el__h4 {
  text-align: center;
  margin: 0 auto;
}
.choose-el__h2 {
  font-size: 4rem;
  margin-top: 1.2em;
}
.choose-el__h4 {
  font-size: 3rem;
  font-weight: 300;
}
.choose-el__wrapper {
  background: transparent;
  background-image: repeating-linear-gradient(1deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(91deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(181deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px), repeating-linear-gradient(271deg, #333333, #333333 19px, transparent 19px, transparent 35px, #333333 35px);
  background-size: 3px 100%, 100% 3px, 3px 100%, 100% 3px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  height: 46rem;
  padding: 2em 3em;
  margin-top: 3.4em;
}
.choose-el__box {
  height: 43rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: min-content;
  max-height: 38rem;
  overflow: auto;
  gap: 2em;
}
.choose-el__box--element {
  border: 2px solid black;
  grid-column: span auto;
  padding: 0.8em 1em;
  font-size: 2rem;
  white-space: nowrap;
  width: fit-content;
  line-height: 2.5rem;
  border-radius: 0.5em;
}
.choose-el__box--element:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.choose-el__box .pick {
  background: black;
  color: white;
}
.choose-el__bottom-panel {
  width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  font-size: 3rem;
  text-align: center;
}
.choose-el__bottom-panel--back {
  padding: 0.7em 2em;
  border-radius: 0.6em;
}
.choose-el__bottom-panel--next {
  background: #5CAC64;
  width: 18rem;
  color: white;
  font-size: 2.3rem;
  padding: 0.7em 2em;
  border-radius: 0.6em;
  transition: background 0.2s, color 0.2s;
  border: 2px solid #5CAC64;
}
.choose-el__bottom-panel--next:hover {
  background: white;
  color: black;
  border: 2px solid black;
}

.last-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.last-config__box {
  background: transparent;
}
.last-config__box * {
  margin: 0 auto;
  text-align: center;
}
.last-config__h4 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
}
.last-config__h2 {
  font-size: 6rem;
  text-align: center;
}
.last-config__input {
  width: 26rem;
  margin: 0 auto;
  margin: 3em auto;
  background: #ECEBE6;
  font-size: 2.2rem;
  margin-bottom: 4.3em;
}
.last-config__btn {
  width: 30rem;
  height: 6rem;
  font-size: 3.4rem;
}

.generate-el__box * {
  text-align: center;
}
.generate-el__box h1 {
  font-size: 4rem;
  margin-bottom: 1.3em;
}

.addProducts__h2 {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 3em;
}
.addProducts__box {
  display: flex;
  margin-top: 3em;
  padding-top: 4em;
  padding-bottom: 5em;
  padding-right: 3.5em;
}
.addProducts__box h4 {
  font-size: 2.5rem;
  margin: 0.3em 0;
}
.addProducts__box--right {
  margin-top: 2em;
  width: 45%;
}
.addProducts__box--left {
  width: 55%;
  padding-left: 2em;
}
.addProducts__list {
  background: rgba(0, 0, 0, 0.041);
  height: 29rem;
  overflow: auto;
}
.addProducts__list--text {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 2em;
}
.addProducts__list--el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  font-size: 1.7rem;
  padding-left: 1.5em;
  background: rgba(255, 255, 255, 0.562);
  margin-bottom: 1em;
}
.addProducts__list--el button {
  font-size: 1.5rem;
  background-color: #d8311b;
  color: white;
  border: none;
  width: 8rem;
  height: 4rem;
  text-transform: uppercase;
}
.addProducts__list--el button:hover {
  background-color: red;
}
.addProducts__elements-box {
  width: min-content;
}
.addProducts__top-panel {
  display: flex;
  margin: 1.5em 0;
  gap: 2em;
}
.addProducts__top-panel li {
  list-style-type: none;
}
.addProducts__top-panel--wrapper {
  display: flex;
  align-items: center;
  background: white;
}
.addProducts__top-panel--amount {
  width: 20rem;
}
.addProducts__top-panel--unit {
  font-size: 2.1rem;
  padding: 0 1em;
}
.addProducts__btn {
  font-size: 2.1rem;
  width: 24rem;
  height: 5rem;
  background: #5CAC64;
  color: white;
  display: block;
  text-align: center;
}
.addProducts__btn:hover {
  background-color: rgb(16, 173, 24);
}
.addProducts__bottom-panel {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin-top: 3em;
}
.addProducts__bottom-panel a {
  height: 6.3rem;
  width: 25rem;
  font-size: 3rem;
  line-height: 6rem;
  padding: 0;
  text-align: center;
}
.addProducts__bottom-panel button {
  font-size: 3rem;
  border-radius: 0.3em;
  height: 6.3rem;
  width: 25rem;
}

.fridge {
  margin-top: 0em;
}

.error-page__box {
  text-align: center;
  margin-top: 4em;
}
.error-page__box h4 {
  font-size: 7rem;
  font-weight: 300;
}
.error-page__box h1 {
  font-size: 13rem;
}

.shopping__box {
  padding-top: 4em;
}
.shopping__add-btn {
  width: 45rem;
  height: 6rem;
  font-size: 3rem;
  background: #5CAC64;
  color: white;
  border-radius: 2em;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
}
.shopping__add-btn:hover {
  color: black;
  background: white;
}
.shopping__print-list {
  border: none;
  width: auto;
}
.shopping__print-list:hover {
  background: transparent;
  color: black;
  text-decoration: underline;
}

.settings-box {
  background: transparent;
  display: grid;
  justify-content: center;
  position: relative;
}

.settings__rectangle {
  position: absolute;
  top: 0;
  left: 0;
  background: #ECEBE6;
  width: 85rem;
  border-radius: 2em;
  height: 20rem;
  z-index: -1;
  transform: rotate(-7deg) translateY(4rem);
}
.settings__triangle--big {
  top: 21rem;
  left: 10rem;
  position: absolute;
  z-index: -1;
}
.settings__triangle--small {
  top: 52rem;
  left: 62rem;
  position: absolute;
  z-index: -1;
}
.settings__circle {
  top: 30rem;
  left: 65rem;
  width: 20rem;
  height: 20rem;
  background: #ECEBE6;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.settings__logout {
  bottom: 0rem;
  left: 50%;
  position: absolute;
  z-index: -1;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  z-index: 2;
}
.settings__logout:hover {
  text-decoration: underline;
  cursor: pointer;
}
.settings-container {
  border-radius: 0.5em;
  background-image: repeating-linear-gradient(-46deg, #333333, #333333 8px, transparent 8px, transparent 11px, #333333 11px), repeating-linear-gradient(44deg, #333333, #333333 8px, transparent 8px, transparent 11px, #333333 11px), repeating-linear-gradient(134deg, #333333, #333333 8px, transparent 8px, transparent 11px, #333333 11px), repeating-linear-gradient(224deg, #333333, #333333 8px, transparent 8px, transparent 11px, #333333 11px);
  background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  margin: 2em 0;
  padding: 2em 0;
}
.settings__add-btn {
  margin: 0 auto;
  width: 40rem;
  display: block;
  text-align: center;
  background: #5CAC64;
  color: white;
  font-size: 2.4rem;
  padding: 0.6em 0;
  border-radius: 0.3em;
  margin-top: 2em;
}
.settings-h1 {
  font-size: 4.3rem;
  text-align: center;
}
.settings-h4 {
  font-size: 2.6rem;
  text-align: center;
}
.settings__input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  align-items: center;
  gap: 1em;
}
.settings__cal-input {
  border: 1px solid grey;
  height: 4.2rem;
  font-size: 2rem;
  text-align: center;
}
.settings__list {
  width: min-content;
  margin: 1em auto;
  margin-top: 0.8em;
  border: 1px solid grey;
  border-radius: 0.3em;
}
.settings__switch {
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
}
.settings__switch--wrapper {
  background: white;
  border-radius: 0.5em;
  overflow: hidden;
}
.settings__switch--link {
  border: none;
  padding: 0.7em 0em;
  display: inline-block;
  font-size: 2.3rem;
  width: 24rem;
  text-align: center;
  background: white;
  color: black;
}
.settings__switch--link:hover {
  color: black;
  background: white;
}
.settings__switch .active {
  background: rgb(105, 102, 102);
  color: white;
  border-radius: 0;
}

@media (max-width: 110em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 45%;
  }
}

/*# sourceMappingURL=styles.css.map */
