@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
}

.menu-container {
  display: flex;
  align-items: baseline;
}

.menu {
  display: flex;
  width: 80rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2em;
  margin-left: auto;
}
.menu li {
  flex: 1;
  text-align: center;
  font-size: 2.3rem;
}
.menu .active {
  flex: 1.9;
  font-size: 3.6rem;
  font-weight: semiBold;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2.4rem;
}

.box {
  background: #ECEBE6;
  width: 100rem;
  margin: 0 auto;
  margin-top: 3em;
  border-radius: 0.8rem;
  min-height: 12rem;
  padding: 2em;
}

.list {
  height: 40rem;
  width: 75rem;
  margin: 0 auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.list li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.list li > * {
  height: 100%;
  border-radius: 0.6em;
}
.list__content {
  flex: 4;
  background: white;
}
.list__amount {
  margin-left: 1.7em;
  flex: 1;
  background: black;
  color: white;
  text-align: center;
  padding-top: 0.8em;
}

.date {
  margin: 0 auto;
  width: min-content;
  font-size: 3rem;
  font-weight: 200;
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 0.6em;
}
.date__arrow {
  background: #5CAC64;
  width: 2.3rem;
  height: 2.3rem;
  transition: filter 0.2s;
}
.date__arrow--right {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.date__arrow--left {
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.date__arrow:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

@media (max-width: 110em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 45%;
  }
}

/*# sourceMappingURL=styles.css.map */
