@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Prompt", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
}

button {
  width: 15.7rem;
  height: 4.4rem;
  background: transparent;
  border: 3px solid #5CAC64;
  border-radius: 0.8rem;
  font-size: 2.1rem;
  transition: 0.2s;
}
button:hover {
  background: #5CAC64;
  color: white;
}

input {
  border: none;
  padding: 0.7em;
  border-radius: 0.4em;
  font-size: 2rem;
  transition: border 0.1s;
}
input:focus {
  border: none;
  border-bottom: 4px solid #5CAC64;
  outline: none;
}

.backLink {
  border: 2px solid black;
  font-size: 2.3rem;
  padding: 0.25em 2em;
  border-radius: 0.3em;
  transition: background 0.2s, color 0.2s;
}
.backLink:hover {
  background: black;
  color: white;
}

.menu-container {
  display: flex;
  align-items: baseline;
}

.menu {
  display: flex;
  width: 80rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2em;
  margin-left: auto;
}
.menu li {
  flex: 1;
  text-align: center;
  font-size: 2.3rem;
  line-height: 2.7rem;
  width: min-content;
}
.menu .active {
  flex: 1.9;
  font-size: 3.6rem;
  font-weight: semiBold;
  align-items: center;
  justify-content: center;
  position: relative;
}
.menu .active::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 0.9rem;
  border-radius: 0.4rem;
  background: #5CAC64;
}
.menu .active:hover {
  font-size: 3.6rem;
}
.menu a {
  transition: font-size 0.2s, background 0.2s;
  border-radius: 0.5rem;
}
.menu a:hover {
  font-size: 2.7rem;
  color: #5CAC64;
}

.logo {
  font-size: 2.4rem;
}

.box {
  background: #ECEBE6;
  width: 100rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  min-height: 12rem;
  padding: 2em;
  margin-top: 7rem;
}

.date {
  margin: 0 auto;
  width: min-content;
  font-size: 3rem;
  font-weight: 200;
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-bottom: 0.6em;
}
.date__arrow {
  background: #5CAC64;
  width: 2.3rem;
  height: 2.3rem;
  transition: filter 0.2s;
}
.date__arrow--right {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.date__arrow--left {
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.date__arrow:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.list {
  height: 40rem;
  width: 75rem;
  margin: 0 auto;
  display: flex;
  gap: 0.8em;
  flex-direction: column;
  overflow: auto;
}
.list li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
}
.list li > * {
  height: 100%;
  border-radius: 0.6em;
}
.list__content {
  flex: 4;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  font-size: 2.2rem;
}
.list__content--data {
  margin-left: auto;
  font-weight: 200;
  font-style: italic;
}
.list__amount {
  margin-left: 1em;
  flex: 1;
  background: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 5.5rem;
}

.bottom-panel {
  display: flex;
  padding: 0 2em;
  align-items: baseline;
}
.bottom-panel__info {
  margin-left: auto;
  font-size: 2.2rem;
  font-weight: 200;
  font-style: italic;
}
.bottom-panel__btn:hover a {
  color: white;
}
.bottom-panel__btn {
  width: 32rem;
}

.calendar__link {
  margin: 0 auto;
  width: min-content;
  display: block;
  margin-top: 3em;
}
.calendar__add-btn {
  width: 45rem;
  height: 6rem;
  font-size: 3rem;
  margin: 0 auto;
  background: #5CAC64;
  color: white;
  border-radius: 2em;
}
.calendar__add-btn:hover {
  color: black;
  background: white;
}

.addElement__box {
  margin-top: 2em;
  width: 80rem;
  padding-bottom: 4em;
}

.date-margin {
  margin-top: 6em;
}

.addElement__info {
  border: 3px solid black;
  width: 100rem;
  margin: 0 auto;
  border-radius: 0.8rem;
  padding: 0em 1em;
  padding-right: 0;
  margin-top: 1rem;
  display: flex;
  align-items: baseline;
  font-size: 2rem;
}
.addElement__info--text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: calc(100% - 23rem);
}
.addElement__info--text-btn {
  width: auto;
  height: auto;
  border: none;
}
.addElement__info--text-btn:hover {
  text-decoration: underline;
  background: none;
  color: black;
}
.addElement__info--calories {
  margin-left: auto;
  background: black;
  height: 100%;
  width: 22rem;
  color: white;
  line-height: 2em;
  text-align: center;
}
.addElement__switch {
  background: white;
  width: 30rem;
  border-radius: 0.3em;
}
.addElement__switch--btn {
  border: none;
  display: inline-block;
  width: 15rem;
  height: 4.5rem;
  font-size: 2rem;
  line-height: 4.5rem;
  text-align: center;
}
.addElement__switch .activee {
  background: rgb(105, 102, 102);
  display: inline-block;
  color: white;
  border-radius: 0.3em;
}
.addElement__form {
  margin: 0 auto;
  margin-top: 1.8em;
  width: 63rem;
}
.addElement__form h2 {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.addElement__form--name {
  width: 100%;
}
.addElement__form--bottom-panel {
  display: flex;
  margin: 1.5em 0;
  gap: 2em;
}
.addElement__form--bottom-panel input {
  width: 25rem;
}
.addElement__form li {
  text-decoration: none;
  list-style-type: none;
}
.addElement__form h4 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.addElement__form--btn {
  margin-top: 1.6em;
  font-size: 3rem;
  width: 20rem;
  height: 5rem;
  background: #5CAC64;
  color: white;
}
.addElement__form--btn:hover {
  background: white;
  color: black;
}
.addElement__backLink {
  margin-left: 27rem;
}

@media (max-width: 110em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 45%;
  }
}

/*# sourceMappingURL=styles.css.map */
