.menu-container
    display: flex
    align-items: baseline


.menu
    display: flex
    width: 80rem
    align-items: center
    justify-content: space-between
    margin-top: 1.2em
    margin-left: auto
    li
        flex: 1
        text-align: center
        font-size: 2.3rem
    .active
        flex: 1.9
        font-size: 3.6rem
        font-weight: semiBold
        align-items: center
        justify-content: center

.logo
    font-size: 2.4rem
