
.menu-container
    display: flex
    align-items: baseline
    height: 8vh


.menu
    display: flex
    width: 80rem
    align-items: center
    justify-content: space-between
    margin-top: 1.2em
    margin-left: auto
    @include mq("small")
        display: none
    @include mq("medium")
        width: 70%
    li
        flex: 1
        text-align: center
        font-size: 2.3rem
        line-height: 2.7rem
        width: min-content
        @include mq("medium")
            font-size: 2rem
        
       
    .active
        flex: 1.9
        font-size: 3.6rem
        font-weight: semiBold
        align-items: center
        justify-content: center
        position: relative
        @include mq("medium")
            font-size: 3rem
        
        &::after
            @include absolute(50%,120%,true)
            width: 25rem
            height: .9rem
            border-radius: .4rem
            background: $lightGreen
            @include mq("medium")
                width: 20rem
                height: .7rem
        &:hover
           font-size: 3.6rem
           @include mq("medium")
                font-size: 3rem
    a
        transition: font-size .2s , background .2s
        border-radius: .5rem    
    a:hover
        font-size: 2.7rem
        color: $lightGreen
        
.logo
    font-size: 3.3rem
    font-weight: 300
    padding-left: 2em
    padding-top: 1.1em
    @include mq("mobile")
        font-size: 2.6rem


    
.hamburger_menu
    @include mq("small")
        display: block
        position: absolute
        background: white
        margin: 0
        width: 100%
        height: 100%
        z-index: 1
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        padding: 30% 0 
        li 
            font-size: 3.6rem
            font-weight: 300
            &:hover
                font-size: 4rem
                    
        .active
            font-size: 4.5rem
            font-weight: 400
            &::after
                width: 30rem
                height: 1.2rem
            &:hover
                font-size: 4.5rem
        a:hover
            font-size: 4.5rem
    @include mq("mobile")
        padding: 50% 0 