@import "../abstracts/functions"
@import "../base/reset"
@import "../abstracts/variables"

// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap')
// font-family: 'Roboto Mono', monospace;

body 
    // font-family: 'Roboto Mono', monospace
    font-size: 1.6rem 
    margin: 0
    background: red
    // overflow-x: hidden

section
    max-width: 180rem
    margin: 0 auto
    height: 100vh
