@import "../abstracts/functions"
@import "../base/reset"
@import "../abstracts/variables"

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500&display=swap')
// font-family: 'Prompt', sans-serif;

body 
    font-family: 'Prompt', sans-serif
    font-size: 1.6rem 
    margin: 0
    // background-color: red
    // overflow-x: hidden

.container
    max-width: 180rem
    margin: 0 auto




