/* Error: Undefined mixin.
 *    ,
 * 16 | /     @include mq("small")
 * 17 | \         display: none
 *    '
 *   src\sass\componets\menu.sass 16:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 16 \2502  \250c      @include mq("small")\a 17 \2502  \2514          display: none\a    \2575 \a   src\\sass\\componets\\menu.sass 16:5  root stylesheet';
}
