/* Error: Undefined mixin.
 *    ,
 * 11 | /     @include mq("small")
 * 12 | |         background: $mainColor
 * 13 | |         width: 100%   
 * 14 | |         height: 7.5rem 
 * 15 | \         padding: 0 12%
 *    '
 *   src\sass\componets\nav.sass 11:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 11 \2502  \250c      @include mq("small")\a 12 \2502  \2502          background: $mainColor\a 13 \2502  \2502          width: 100%   \a 14 \2502  \2502          height: 7.5rem \a 15 \2502  \2514          padding: 0 12%\a    \2575 \a   src\\sass\\componets\\nav.sass 11:5  root stylesheet';
}
