/* Error: Undefined mixin.
 *   ,
 * 8 | /         @include mq('mobile')
 * 9 | \             width: 99%
 *   '
 *   src\sass\layout\fridge.sass 8:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 8 \2502  \250c          @include mq('mobile')\a 9 \2502  \2514              width: 99%\a   \2575 \a   src\\sass\\layout\\fridge.sass 8:9  root stylesheet";
}
